<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Dev Skills Lab</title>
</head>
<body>
  <h1>Express Dev Skills (views/skills/index.ejs) </h1>
  <a href="/skills">Skills List</a>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skills %></a>
        <%= s.skill %>
          - 
        <%= s.complete ? 'Complete' : 'Not Complete' %>
      </li>
    <% }); %>
  </ul>
</body>
</html>